version: '3.8'
services:
  postgres:
    image: postgres:15-alpine
    container_name: PHNB-Starter-Kit_db
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: PHNB-Starter-Kit
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
